<!DOCTYPE html>
<html xmlns:th="http://org.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"/>
<title>Upload new file</title>
</head>
<body>
	<h1>Upload File</h1>
	<!-- enctype used for upload file in form -->
	<form action="/upload" method="post" enctype="multipart/form-data">	
		<!-- upload file image only -->
		<input type="file" name="image" accept="image/*" multiple="multiple"/>
		<input type="submit" value="Upload"/>
	</form>
</body>
</html>