<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link th:href="@{/templates/html/addStyle.css}" rel="stylesheet"></link>
<link
	th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"
	rel="stylesheet"></link>
<link rel="stylesheet"
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}" />

<title>View Article</title>

</head>
<body>
	<div class="body">
		<div th:fragment="navbar" class="navbar navar-fixed-top"
			role="navigation" id="navigration">
			<nav class="navbar navbar-expand-lg" id="navbar1"></nav>
		</div>

		<div th:fragment="navbar"
			class="navbar navbar-inverse navbar-fixed-top" role="navigation"
			id="navbar2">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span> 
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span> 
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><h3>Article Management System</h3></li>
						<li class="fa fa-newspaper"><a href="/article">Article</a></li>
						<li><a href="/add">Add</a></li>
					</ul>
				</div>
			</div>
		</div>

		<h2>
			<a href="/article"><i class="fa fa-street-view"></i>&nbsp;Back to
				home page</a>
		</h2>

		<div th:class="container-fluid"  th:object="${book}">
			<div class="form-group">
				<form method="get">

					<div class="col-md-12 text-left">
						<h1 id="view" style="display: inline">
							<i class="fa fa-eye"></i>View Article
						</h1>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-3">
								<label>ID:</label>
								
								</div>
								<div class="col-md-8">
									<span th:text="${book.id}" id="id"></span>
								</div>
							</div>

							<div class="row">
								<div class="col-md-3">
									<label>Title:</label>
								</div>
								<div class="col-md-8">
									<span th:text="${book.title}" id="title"></span>
								</div>
							</div>

							<div class="row">
								<div class="col-md-3">
									<label>Author Name:</label>
								</div>
								<div class="col-md-8">
									<span th:text="${book.authorName}" id="author"></span>
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-3">
									<label>Category:</label>
								</div>
								<div class="col-md-8">
									<span  th:text="${book.category.name}" id="category"></span>
								</div>
							</div>

							<div class="row">
								<div class="col-md-3">
									<label>Description:</label>
								</div>
								<div class="col-md-8">
									<textarea class="form-control" id="desc" th:field="${book.bdescription}" rows="6"></textarea>
								</div>
							</div>

						</div>

						<div class="col-md-6">

							<img th:src="*{thumbnail}" />

						</div>
					</div>

				</form>
			</div>
		</div>
		


		<!--  <div class="row">
				<div class="col-md-12">
					<select th:field="${book.category.id}" class="custom-select">
  						<option th:each="category:${categories}" th:value="${category.id}" th:text="category.name"></option>
 						<option id="1" value="1">Spring</option>
  						<option id="2" value="2">JAVA</option>
  						<option id="3" value="3">JAVAScript</option>
  						<option id="4" value="4">JQuery</option>
  						<option id="5" value="5">AJAX</option>
  						<option id="6" value="6">KOREAN</option>
  						<option id="7" value="7">ENGLISH</option>
					</select>
				</div>
			
			</div>  -->




		<div th:fragment="footer" id="footer">
			<div class="container">
				<h2 class="muted credit">Spring Article Management System</h2>
				<p class="muted credit">Spring Homework implementation</p>
				<p class="muted credit">©copyright SengKheang Lim</p>
			</div>
		</div>

	</div>




	<style>
#footer {
	bottom: 0;
	position: relative;
	height: auto;
	background-color: #0072BB;
	width: 100%;
}

#navbar2{
	background-color: #0072BB;
}

form {
	background-color: #C6C8CA;
	height: auto;
	box-shadow: 0 8px 6px -6px black;
}

#id, #title, #author, #desc {
	margin: 10px;
	width: 300px;
	height: 30px;
}

input {
	margin: 10px;
}

#btnSubmit {
	width: 100px;
	height: 50px;
	border: 1px solid;
	border-color: #FD5F00;
	border-radius: 3px;
	background-color: transparent;
	font-size: 15px;
}

#btnSubmit:hover {
	background-color: #FD5F00;
}

.cf {
	margin-left: 50px;
}

label {
	margin-left: 10px;
	font-size: 20px;

}

p {
	font-size: 20px;
	color: whitesmoke;
}

span {
	margin: 10px;
	padding: 10px;
}

a {
	margin: 10px;
	font-size: 25px;
}

h3 {
	text-shadow: 2px 2px silver;
	color: whitesmoke;
}

i {
	margin: 20px;
}

.col-md-12 {
	margin: 20px;
}

hr {
	border: 2px silver;
}

#view{
	padding:10px;
	background-color:#0074E4;
	color: whitesmoke;
	box-shadow: 0 8px 6px -6px black;
} 

.row{
	padding:10px;
}

textarea{
	heigth:150px;
}

 img{
	width:400px; 
	height:350px;
}
</style>




</body>

</html>